# string

In [1]:
m='my name is Mrunal & i am 23 years old'
m

'my name is Mrunal & i am 23 years old'

#### Multiplty line string

In [2]:
a = '''Python is a high-level, interpreted, interactive and object-oriented scripting language,
python is designed to be highly readable,
it uses English keywords frequently where as other languages use punctuation,
it has fewer syntactical constructions than other languages.'''
print(a)

Python is a high-level, interpreted, interactive and object-oriented scripting language,
python is designed to be highly readable,
it uses English keywords frequently where as other languages use punctuation,
it has fewer syntactical constructions than other languages.

#### Escape Character

In [3]:
s="i can't do this"
s

"i can't do this"

In [4]:
# Single Quote

In [5]:
t='It\'s alright.'

In [6]:
t

"It's alright."

In [7]:
# new line

In [8]:
t = "Hello \n Mrunal"
print(t)

Hello
 Mrunal

In [9]:
# tab

In [10]:
t='hi\tMrunal'
print(t)

hi	Mrunal

In [11]:
# Backspace

In [12]:
t="what can \bi do?"
print(t)

what can i do?

In [13]:
# Form Feed

In [14]:
t="what can \fi do?"
print(t)

what can i do?

In [15]:
# Slicing Strings

In [16]:
m='my name is Mrunal & i am 23 years old'
m

'my name is Mrunal & i am 23 years old'

In [17]:
m[:17]

'my name is Mrunal'

In [18]:
m[:-20]

'my name is Mrunal'

In [19]:
m[-37:-20]

'my name is Mrunal'

In [20]:
m[::-1]

'dlo sraey 32 ma i & lanurM si eman ym'

In [21]:
# String Concatenation

In [22]:
s1='hello'
s2='mrunal'

In [23]:
s=s1+" "+s2

In [24]:
s

'hello mrunal'

# String Methods

In [25]:
# capitalize() :- Converts the first character to upper case

In [26]:
m='i start work on python'
m

'i start work on python'

In [27]:
m.capitalize()

'I start work on python'

In [28]:
# casefold() :- Converts string into lower case

In [29]:
m='I START WORK ON PYTHON'

In [30]:
m.casefold()

'i start work on python'

In [31]:
# center() :- Returns a centered string

In [32]:
m='I start work on python'
m.center(50)

'              I start work on python              '

In [33]:
# count() :- Returns the number of times a specified value occurs in a string

In [34]:
m='I start work on python'
m.count('python')

1

In [35]:
# endswith() :- Returns true if the string ends with the specified value

In [36]:
m='I start work on python.'
m.endswith('.')

True

In [37]:
m='I start work on python'
m.endswith('python')

True

In [38]:
# find() -: Searches the string for a specified value and returns the position of where it was found

In [39]:
m='I start work on python'
m.find('o')

9

In [40]:
m='I start work on python'
m.find('work')

8

In [41]:
m='I start work on python'
m.find('r',0,12)

5

In [42]:
# format() :- Formats specified values in a string

In [43]:
m='In pune price of pen is {rupis}'
m.format(rupis=10)

'In pune price of pen is 10'

In [44]:
m='my name is {n} & i am {age} years old'.format(n="Mrunal",age=24)
m

'my name is Mrunal & i am 24 years old'

In [45]:
m='my name is {0} & i am {1} years old'.format("Diganti",24)
m

'my name is Diganti & i am 24 years old'

In [46]:
m='my name is {} & i am {} years old'.format("Riya",22)
m

'my name is Riya & i am 22 years old'

In [47]:
# index() :-Searches the string for a specified value and returns the position of where it was found

In [48]:
m="Hello, welcome to my world"
m.index("to")

15

In [49]:
# lower() :- Converts a string into lower case

In [50]:
m = "Hello my FRIENDS"
m.lower()

'hello my friends'

In [51]:
# maketrans() :- Returns a translation table to be used in translations

In [52]:
m = "Hello my riya"
m1=m.maketrans("r","p")
m.translate(m1)

'Hello my piya'

In [53]:
# partition() :- Returns a tuple where the string is parted into three parts

In [54]:
m="I learn python as well as SQL"
m.partition("as well as")

('I learn python ', 'as well as', ' SQL')

In [55]:
# replace() :- Returns a string where a specified value is replaced with a specified value

In [56]:
m="I start learn Python"
m.replace("Python","SQL")

'I start learn SQL'

In [57]:
# split() :-Splits the string at the specified separator, and returns a list

In [58]:
m="I am so happy to learn python"
m.split()

['I', 'am', 'so', 'happy', 'to', 'learn', 'python']

In [59]:
# splitlines() :- Splits the string at line breaks and returns a list

In [60]:
m="My sister name is Diganti \nshe is 21 years old"
m.splitlines()

['My sister name is Diganti ', 'she is 21 years old']

In [61]:
# startswith() :-Returns true if the string starts with the specified value

In [62]:
m="My sister name is Diganti & she is 21 years old"
m.startswith('My')

True

In [63]:
# strip() :-Returns a trimmed version of the string

In [64]:
m="  Mrunal  "
m.strip()

'Mrunal'

In [65]:
# swapcase() :-  returns a string where all the upper case letters are lower case and vice versa.

In [66]:
m="My favourite fruit is Mango"
m.swapcase()

'mY FAVOURITE FRUIT IS mANGO'

In [67]:
# title() :- Converts the first character of each word to upper case

In [68]:
m="good morning friends"
m.title()

'Good Morning Friends'

In [69]:
# upper() :- Converts a string into upper case

In [70]:
m="do you know what is python"
m.upper()

'DO YOU KNOW WHAT IS PYTHON'